.app-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

button {
  margin: 10px 5px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.service-list ul {
  list-style-type: none;
  padding: 0;
}

.service-item {
  background-color: #f8f8f8;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  max-height: 400px;
  width: 100%;
  height: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation: popup-fade-in 0.3s ease-in-out;
}

.service-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.service-form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.service-form button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.service-form button:hover {
  background-color: #218838;
}

.close-btn {
  margin-top: 10px;
  padding: 10px;
  background-color: #ff5c5c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
}

.close-btn:hover {
  background-color: #e14a4a;
}

@keyframes popup-fade-in {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
